@model BusReservationSystem.Models.Line

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Line</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BusFK" class="control-label"></label>
                <input asp-for="BusFK" class="form-control" />
                <span asp-validation-for="BusFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="From" class="control-label"></label>
                <input asp-for="From" class="form-control" />
                <span asp-validation-for="From" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="To" class="control-label"></label>
                <input asp-for="To" class="form-control" />
                <span asp-validation-for="To" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartureTime" class="control-label"></label>
                <input id="dep_date" asp-for="DepartureTime" class="form-control"  data-date-format="dd-MMM-yyyy" type="text" placeholder="dd-MMM-yyyy" />
                <span asp-validation-for="DepartureTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalTime" class="control-label"></label>
                <input id="arr_date" asp-for="ArrivalTime" class="form-control"  data-date-format="dd-MMM-yyyy" type="text" placeholder="dd-MMM-yyyy" />
                <span asp-validation-for="ArrivalTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ticketPrice" class="control-label"></label>
                <input asp-for="ticketPrice" class="form-control" />
                <span asp-validation-for="ticketPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<link href="~/lib/jqueryui/jquery-ui.min.css" rel="stylesheet" />
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script src="~/lib/jqueryui/jquery-ui.min.js"></script>

<script type="text/javascript">

    $('#arr_date').prop("readonly", true);
    $('#dep_date').datepicker({
        minDate:new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate()),
        onSelect: function () {
            var selected = new Date($(this).val());
            $('#arr_date').prop("readonly", false);
            $("#arr_date").datepicker({
                format: 'MM/DD/YYYY',
                minDate: new Date(selected.getFullYear(), selected.getMonth(), selected.getDate())
            });
        }
    });
</script>
}
